<h2>{{title}}</h2>
<ul *ngIf="errors.length" class="errors">
    <li *ngFor="let error of errors" class="error">
        <div (click)="dismissError(index)">X</div>
        {{error}}
    </li>
</ul>
<table class="mods">
    <form (ngSubmit)="addMod()">
        <input [(ngModel)]="modUrl" [ngModelOptions]="{standalone: true}">
        <button [disabled]="isWaiting" type="submit" id="add">Add</button>
    </form>

    <button (click)="updateMods()" [disabled]="isWaiting" id="update">Update</button>

    <tr *ngFor="let mod of mods">
        <td class="name">{{mod.name}}</td>
        <td class="version">{{mod.version}}</td>
        <td class="project-url">{{mod.project_url}}</td>
    </tr>
</table>
